.emwawme {
  /**
   * emwawme (short: emw)
   *
   * An awesome em framework!
   * https://github.com/TimPietrusky/emwawme
   *
   *
   * 2013 by Tim Pietrusky
   * timpietrusky.com
   */ 
}


/**
 * 
 * Variables
 *
 */
$emw--alpha: 0;
$emw--beta: 0;
$emw--gamma: 0;
$emw--delta: 0;
$emw--epsilon: 0;
$emw--zeta: 0;
$emw--eta: 0;
$emw--theta: 0;
$emw--iota: 0;
$emw--kappa: 0;
$emw--lambda: 0;
$emw--my: 0;
$emw--ny: 0;
$emw--xi: 0;
$emw--omikron: 0;
$emw--pi: 0;


/**
 * 
 * Lists
 *
 */
$emw--list-alpha: 0;
$emw--list-beta: 0;
$emw--list-gamma: 0;
$emw--list-delta: 0;


/**
 * 
 * Elements
 *
 */
.emw__element-alpha {

}

.emw__element-beta {

}

.emw__element-gamma {

}

.emw__element-delta {

}


/**
 * 
 * Modifier
 *
 */
%emw__modifier-alpha {
    
}

%emw__modifier-beta {
    
}

%emw__modifier-gamma {
    
}

%emw__modifier-delta {
    
}


/**
 * 
 * Mixins
 *
 */
@mixin emw__mixin-alpha() {
  
}

@mixin emw__mixin-beta() {
  
}

@mixin emw__mixin-gamma() {

}

@mixin emw__mixin-delta() {
  
}